**/cache
**/node_modules
**/out
**/typechain

.env
./*/.env
./*/target
/precomputations_server/target

dist

# files
*.env
*.acc_details
*.log
.DS_Store

# broadcasts
!/broadcast
# /broadcast/*
/broadcast/*/31337/


.idea/

# Rollup
.rollup.cache/